body {
    background-color: #f9f9f9;
}
._loginForm{
    margin: 90px auto;
    max-width: 340px;
    border: none;
    padding: 20px;
    text-align: center;
}
._boxLogin {
    background-color: #fcfcfc;
    padding: 10px auto;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
._boxLogin input{
    margin-bottom: 10px;
    background-color: #f5f5f5;
    height: 37px;
    padding: 10px 10px;
    /* padding: 10px 10px; ??? */
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
._boxLogin input::placeholder{
        /* :: ??? */
    font-size: 12px;
    font-weight:100;
}
._boxLogin input:focus {
    outline:none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.ordinaryLogin {
    height: 37px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    background-color: #00aeff;
}

._boxLogin * {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#dongleLogo {
    margin: 40px auto 30px;
    max-width: 175px;
}

.inlineToBlock {
    display: block;
}

.otherLogin1 {
  background-color: #ffaeff;
}

.otherLogin2 {
  background-color: #99aeff;
}

.otherLogin1, .otherLogin2 {
    width:240px;
    margin:auto;
    height: 37px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.otherIcon {
    width:55px;
}
._boxOtherLogin {
    background-color: #fcfcfc;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
.no_underline {
    text-decoration:none;
}
